* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed,fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    background-position: center center;
    position: relative;
}

.MainTop {
    /*position:relative;*/
    text-align: center;
    top: 0px;
    width: 100%;
    min-height: 40px;
    height: 40px;
    /*background: #a54545;*/
    line-height: 40px;
}

.Container {
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    /*left:80px;*/
    /*z-index: 1;*/
    /*background: orange;*/
    /*opacity:0.5;*/
    min-height: 500px;
}

.MainMenu {
    position: fixed;
    top: 40px;
    /*bottom: 40px;*/
    width: 100px;
    max-width: 10%;
    background: lightslategrey;
    opacity: 0.99;
    z-index: 100;
    min-height: 520px;
}

.MainBottom {
    /*position:relative;*/
    float: left;
    text-align: center;
    /*bottom: 0px;*/
    width: 100%;
    min-height: 40px;
    height: 40px;
    background: #184481;
    opacity: 0.7;
}

.Content {
    position: absolute;
    /*left: 15%;
            right: 15%;*/
    margin: auto;
    width: 80%;
    height: 80%;
    /*background: blue;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ThContent {
    width: 100%;
    height: 33%;
    position: relative;
    float: left;
    margin: auto;
    /*background: red;*/
    z-index: 20;
    clear: both;
    /*border: 1px solid black;*/
}

#FirstContent {
    margin-bottom: 0.5%;
}

#ThridContent {
    margin-top: 0.5%;
}

.MyWebsite {
    width: 24%;
    height: 99%;
    position: relative;
    float: left;
    margin: auto;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    background: orange;
    color: black;
    z-index: 30;
    background-repeat: no-repeat;
}

    .MyWebsite:hover {
        width: 25%;
        height: 100%;
        margin: 0px 0px 0px 0px;
    }

.Content div a span {
    /*display: none;*/
    font-size: 0px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    vertical-align: central;
    border: 1px solid blue;
    background-color: aqua;
    opacity: 0;
    width: 100%;
    height: 30px;
    max-height: 0%;
    line-height: 30px;
    text-align: center;
    top: 0;
    bottom: 0;
    transition-property: max-height,font-size;
    transition-duration: 1s;
}

.Content div a:hover span {
    display: inline-block;
    max-height: 30%;
    font-size: 25px;
    opacity: 0.8;
}

.MainTop a {
    text-decoration: none;
    font: 25px bolder;
    color: #ff5e00;
    line-height: 40px;
}

    .MainTop a .top_title {
        display: inline-block;
    }

.MainTop .time {
    z-index: 300;
    height: 40px;
    max-width: 50%;
    width: 340px;
    right: 0px;
    line-height: 40px;
    font: 32px bold;
    display: inline-block;
    float: right;
    color: #cac5bc;
}

.MainMenu ul {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    list-style: none;
    /*background-color: orange;*/
}

li a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    margin: auto;
    color: black;
    font-size: 30px;
    font-style: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main a {
    background-color: grey;
}

li a:hover {
    background-color: orange;
    font-weight: bolder;
}

.MainBottom .CopyRight {
    color: white;
    line-height: 40px;
    text-align: center;
    font-family: \5FAE\8F6F\96C5\9ED1,sans-serif;
    font-size: 14px;
}
